<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<body>
<div layout:fragment="content">
    <div class="row content">
        <div class="col">
            <div class="card">
                <div class="card-header">글조회 (read)</div>
                <div class="card-body">
                    <form method="post" action="/board/update">
                        <div class="mb-3">
                            <label for="title" class="form-label">제목</label>
                            <input type="text" name="title" class="form-control" id="title"
                                   th:value="${boardDTO.title}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-label">내용</label>
                            <textarea name="content" rows="5" class="form-control col-sm-5" id="content"
                                      readonly>[[${boardDTO.content}]]</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="writer" class="form-label">작성자</label>
                            <input type="text" name="writer" class="form-control" id="writer"
                                   th:value="${boardDTO.writer}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="regDate" class="form-label">등록시간</label>
                            <input type="text" name="regDate" class="form-control" id="regDate"
                                   th:value="${#temporals.format(boardDTO.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="modDate" class="form-label">수정시간</label>
                            <input type="text" name="modDate" class="form-control" id="modDate"
                                   th:value="${#temporals.format(boardDTO.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                        </div>
                        <div class="mb-3" th:with="link = ${pageRequestDTO.getLink()}">
                            <a th:href="|@{/board/update(bno=${boardDTO.bno})}&${link}|">
                                <button type="button" class="btn btn-primary">수정하기</button>
                            </a>
                            <a th:href="|@{/board/list}?${link}|">
                                <button type="button" class="btn btn-danger">목록가기</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    const bno = /*[[${boardDTO.bno} ?: null]]*/ null; // bno 기본값 설정
</script>
</body>
</html>
