<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Page</title>
</head>
<body>
<h1>My Page</h1>
<div>
    <p>Username: <span th:text="${user.username}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <p>Address: <span th:text="${user.address}"></span></p>
    <p>Phone: <span th:text="${user.phone}"></span></p>
    <p>Name: <span th:text="${user.name}"></span></p>
</div>
<a href="/users/mypage/edit">Edit Profile</a>
<a href="/users/mypage/confirmDelete">Delete Account</a>
</body>
</html>
