body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 1200px;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;

}

.content-section {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #dddddd;
    min-height: 400px;
    align-items: center;
}

.image-upload {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.image-upload img {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 400px;
    margin-bottom: 15px;
    background-color: #f4f4f4;
    display: block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

.image-upload img:empty {
    display: block;
    width: 300px;
    height: 400px;
    background-color: #f4f4f4;
    margin-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

.result-display {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.result-display h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

.result-display #resultOutput {
    font-size: 16px;
    color: #555555;
    line-height: 1.6;
    min-height: 150px;
    border-radius: 5px;
    background-color: #eef2f7;
    padding: 15px;
    border: 1px solid #dddddd;
    min-height: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.video-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.video-container:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.video-container h2 {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 10px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

.video-container iframe {
    width: 100%;
    height: 540px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.image-upload input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s ease;
}

.image-upload input[type="file"]:hover {
    background-color: #0056b3;
}


body {
    font-family: Arial, sans-serif;
}

.language-selector {
    position: relative;
    display: inline-block;
}

#languageButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#languageButton:hover {
    background-color: #45a049;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

